<div>
  <ul class="nav justify-content-center" style="background-color: #ff5a5e; block-size:  50px;">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['']" aria-current="page" href="#"
      style="color: rgb(250, 252, 252);">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/product']" href="#"
      style="color: rgb(250, 252, 252);">PRODUTOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/customer']" href="#"
      style="color: rgb(250, 252, 252);">CLIENTES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/kart']" href="#"
      style="color: rgb(250, 252, 252);">VENDAS</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
