  <div class="container text-center">
    <div class="row align-items-center">
        <div class="col-4">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="card" style="width: 18rem; background-color:#ff5a5e">
          <div class="card-body">
              <br>
               <h5 class="card-title" style="color: aliceblue">PRODUTOS </h5>
              <br>
                <a [routerLink]="['/product']"
                href="#" title="Editar" alt="Editar" class="btn btn-xs btn-info"
                style="background-color: #f1a2a4; color: aliceblue;">
                    <i class="fa fa-edit" aria-hidden="true"></i> CADASTRAR PRODUTOS</a><br><br>
            </div>
          </div>
      </div>
      <div class="col-4">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="card" style="width: 18rem;background-color: #ff5a5e">
            <div class="card-body">
              <br>
                <h5 class="card-title" style="color: aliceblue">CLIENTES </h5>
                <br>
                <a [routerLink]="['/customer']"
                    href="#" title="Editar" alt="Editar" class="btn btn-xs btn-primary"
                    style="background-color: #f1a2a4; color: aliceblue;">
                    <i class="fa fa-edit" aria-hidden="true"></i> CADASTRAR CLIENTES
                </a><br><br>
            </div>
          </div>
      </div>
      <div class="col-4">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="card" style="width: 18rem; background-color: #ff5a5e">
            <div class="card-body">
               <br>
                <h5 class="card-title" style="color: aliceblue">VENDAS </h5>
                <br>
                <a [routerLink]="['/kart']"
                    href="#" title="Editar" disable alt="Editar" class="btn btn-xs btn-primary"
                    style="background-color: #f1a2a4; color: aliceblue;">
                    <i class="fa fa-edit"  aria-hidden="true"></i> CADASTRAR VENDAS
                </a><br><br>
            </div>
          </div>
      </div>
    </div>
  </div>
